<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Generic title{% endblock %}</title>
<!-- Bootstrap -->
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{% url recipe-list %}">Djecipes</a>
            <ul class="nav">
                <li><a href="{% url recipe-list %}">Recipes</a></li>
                <li><a href="{% url food-list %}">Food</a></li>
            </ul>
        </div>
    </div>
{% block content %}
<h1>Generic title</h1>

Nothing interesting yet

{% endblock %}
</div>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>
